p {

	color: pink;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 2px;
	background-color: black;
	padding:1px;
	margin: 2em;
	border: 5px solid gold
}

h2 {
	font-family: cursive;
	font-size: 30px
	text-align: center;
}

div { 
	font-family: cursive;
}
.silver-background {
	background-color: silver;
}

li {
	color: white;
	background-color: black;
	border: 2px solid red
}
